{% extends "::base.html.twig" %}

{% block title %}KamilAddressBookBundle:Telephone:deleteTelephone{% endblock %}

{% block body %}
<h1>Welcome to the Telephone:deleteTelephone page</h1>
{% endblock %}
