{% extends "::base.html.twig" %}

{% block title %}KamilAddressBookBundle:Telephone:newTelephoneCreate{% endblock %}

{% block body %}
<h1>Welcome to the Telephone:newTelephoneCreate page</h1>
{% endblock %}
